In [1]:
import pandas as pd
import json
import numpy as np

In [2]:
data = pd.read_csv("dataset.csv")

print(data)

         date        sku warehouse_location  quantity
0  2021-01-02  100940478              lagos        23
1  2020-11-09  100940479              lagos        84
2  2021-01-15  100940480                oyo        11
3  2016-11-09  100940481               ogun        98
4  2017-04-04  100940482               ogun        23
5  2018-01-13  100940483               abia         3
6  2021-03-15  100940484             kaduna         7
7  2021-01-11  100940485              abuja         4
8  2021-02-16  100940486               kano         9
9  2019-06-06  100940487            anambra       199

In [3]:
def check_expiration(data):

	item_date = data['date']

	obsolete = np.where(data['date']<'2021-01-01', True, False)

	data['obsolete'] = obsolete

	data_with_obsolete_column = data

	return data_with_obsolete_column

In [4]:
check_expiration(data)

         date        sku warehouse_location  quantity  obsolete
0  2021-01-02  100940478              lagos        23     False
1  2020-11-09  100940479              lagos        84      True
2  2021-01-15  100940480                oyo        11     False
3  2016-11-09  100940481               ogun        98      True
4  2017-04-04  100940482               ogun        23      True
5  2018-01-13  100940483               abia         3      True
6  2021-03-15  100940484             kaduna         7     False
7  2021-01-11  100940485              abuja         4     False
8  2021-02-16  100940486               kano         9     False
9  2019-06-06  100940487            anambra       199      True

In [9]:
def data_to_json(data):
    
    try:
        data_to_json = data.to_json()
        
        with open('data_updated.json', 'w') as json_file:
            json.dump(data_to_json, json_file)
            
        print("JSON file created successfully")
        
    except Exception:
        print("JSON file not created")

In [10]:
data_to_json(data)

JSON file created successfully